<nav class="p-3">
  <ul class="nav nav-pills">
    <li>
      <button routerLink="/home" class="btn btn-outline-success ms-1">
        Home
        <i class="bi bi-house text-success"></i>
      </button>
    </li>
    <li>
      <button routerLink="/product" class="btn btn-outline-success ms-1">
        Produit
        <i class="bi bi-house text-success"></i>
      </button>
    </li>
    <li>
      <button routerLink="/new-product" class="btn btn-outline-success ms-1">
        Nouveau Produit
        <i class="bi bi-house text-success"></i>
      </button>
    </li>
  </ul>
</nav>
<router-outlet />
